
/*researc.html end*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
	body {
	  background-color: lightblue;
	}
  }
nav{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
	background-color: rgb(224, 224, 224);
	
}
a{
	text-decoration: none;
	color: black;
	padding: 1em;
}
a:hover{
	color: blue;

}
.active{
	color: blue;
	border-bottom: 1px solid blue;

}
.header{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.left-main{
	align-self: center;
	justify-self: center;

}
.main{
	justify-content: center;
	width: 100%;
}
footer{
	display: grid;
	align-content: center;
	justify-content: center;
	background-color: rgb(212, 212, 212);
	height: 5em;
}

.center{
	justify-content: center;
}
button{
	padding: 0.5em 1em;
	margin: 1em;
}
h1{
	margin: 1em 0;
	
}
@media only screen and (max-width: 768px) {
	.body, .header{
		grid-template-columns: 1fr;
	}
  }