/*index.html*/	 
       .t1{ background-color:yellow;
		height: 25px;
		width: 50%;
		float: left;
		color: black;
	}

	.t2{
		background-color:#EEEEE8;
		height: 670px;
		width: 50%;
		float: left;
		color: black;
	   }
	.t3{
		background-color: #EEEEE8;
		height: 670px;
		width: 50%;
		float: right;
	}
	.t4{
		background-color: white;
		height: 300px;
		width: 49%;
		float: left;
	}
	.t5{
		background-color: white;
		height: 300px;
		width: 49%;
		float: right;
	}
	.t6{
		background-color: black;
		height: 48px;
	    width: 1521px;
		float: left;
		color: white;
		text-align: center;
		font-size: 20px;
		
	}
	.bol a{
		text-decoration: none;
		background-color: white;
		padding: 9px 30px;
		color: white;
		float: right;
		height: 7px;
		color: black;

	}
	.bol a:hover{
		background-color: white;
		color: #F5C85C;

	}
	.t21{
		height: 200px;
	    width: 500PX;
	    background-color: #EEEEE8;
	    transform: translate(22%,63%);
	}
	.t211{
		height: 33px;
	    width: 90px;
		background-color: yellow;
	}
	.t51{
		height: 33px;
		width: 112px;
		background: yellow;
	}
	.img{
		height: 300px;
		width: 500px;
	}
	.pic{
		height: 670px;
		width: 100%;

	}
/*HOME.html end */	
/*contact.html*/
.con1{
	background-color:#EEEEE8;
		width: 50%;
		float: left;
		height:90%;
		text-align: center;

    }
.con2{
	background-color: #EEEEE8;
		width: 50%;
		float: right;
		height: 90%;
		text-align: center;
	}	

.input1 {
    height:556px;
    width: 748px;
    background-color: #d4cbcb;
    margin-left: 12px;
    float: left;
}
/*contact.html end*/

/* photo */
.mentain{
	height: 12px;
	width: 200px;
	margin-left: 177px;
	margin-top: 12px;
	margin-bottom: 6px;
}
.form-1{
height: 49px;
	width: 386px;
	margin-top: 10px;
}

.form-2{
	background-color:#ffffff;
	height: 26px;
	width: 115px;
}

.pho1{
	font-family: sans-serif;
	text-align: center;
	color: black;
	margin:20px 0 50px;
	background-color: #c4dbf6;
}

.pho2 img{
	width: 230px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
	margin-top: 35px;
}
.pho2 img:hover{
	filter:grayscale(0);
	transform: scale(1.1);
}
.vedio{
	height: 160px;
    width: 300px;
	background-color: lightgray;
}
.audio{
	float:left;
}
/*photo .html end*/
/* profile */
.Edu{
    height: 135px;
    width: 750;
}
.table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 50px;
  width: 750px;
}
/*profile.html end*/
/*research*/
.des{
	float:left;
}
.r1{
	height: 40px;
}

.r2{background-color:#EEEEE8;
		height: 650px;
		width: 50%;
		float: left;
}
.r3{background-color:#EEEEE8;
		height: 650px;
		width: 50%;
		float: right;

}
/*researc.html end*/